1)Write a program that takes two strings from the user: first_name, last_name. Pass these variables to
fullname function that should return the (full name).

In [5]:
first_name=input("Type First Name:")
last_name=input("Type Last name:")

def Full_name(string1,string2):
  print(string1+" "+string2)
  Full_name(first_name,last_name)

Type First Name:jayaprakash
Type Last name:Reddy

Write function named “string_alternative” that returns every other char in the full_name string.

In [15]:
def string_alternative(str):
  output=str[::2]
  print(output)
def main():
    x=input("Type the word:")
    string_alternative(x)
if __name__=="__main__":
      main()

Type the word:python
pto

2)Write a python program to find the wordcount in a file (input.txt) for each line and then print the output:

In [32]:
input_file = open(r"/content/input.txt","r")
value={}
for p in input_file:
  x=p.strip().split()
  for q in x:
    if q in value:
      value[q] +=1
    else:
      value[q]=1
input_file.close()
openfile=open("output.txt","w")
for p,q in value.items():
  print(p,q)
  openfile.write(p+":"+str(q)+"\n")

openfile.close()

Python 1
Course 2
Deep 1
Learning 1

3)Write a program, which reads heights (inches.) of customers into a list and convert these
heights to centimeters in a separate list using:
1) Nested Interactive loop.
2) List comprehensions

In [19]:
l1=[]
l2=[]
value=int(input("Type the count of customers:"))
for x in range(0,value):
  x=int(input())
  l1.append(x)
print(l1)
for i in l1:
  i==i/2.54
  j=round(i,2)
  l2.append(j)
print(l2)

Type the count of customers:4
125
234
231
123
[125, 234, 231, 123]
[125, 234, 231, 123]